header {
    background-color: var(--themeColor) !important;
    color: var(--mainContentColor) !important;
}

header>span {
    color: inherit !important;
}

header>a>div>svg>g {
    fill: var(--mainContentColor) !important;
}

body>mainbodycontent {
    background: linear-gradient(to bottom, var(--themeColor) 0%, var(--additionalContentColor) 100%) !important;
    width: 100% !important;
    display: flex !important;
    top: 49px;
    position: absolute;
}

mainbodycontent>div#japanesecolorname {
    font-family: "Corporate Logo";
    font-size: 50px;
    letter-spacing: 15px;
}

mainbodycontent>div#info>div#colorname {
    color: var(--mainContentColor);
    font-size: 50px;
    font-family: 'Bebas Neue';
    margin-top: 15px;
    height: fit-content;
}

credits,
footer {
    background-color: var(--themeColor) !important;
    color: var(--mainContentColor) !important;
}

@media screen and (orientation:landscape) {
    mainbodycontent>div#japanesecolorname {
        height: calc(100% - 170px);
        min-width: 20%;
        width: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        white-space: pre-wrap;
        margin-left: 50px;
        border-radius: 25px;
        margin-top: 15px;
        margin-right: 50px;
    }

    body>mainbodycontent {
        flex-direction: row;
    }

    mainbodycontent>div#info>div#colorname {
        text-align: left;
        margin-bottom: 125px;
    }

    body>mainbodycontent {
        height: calc(100% - 82px) !important;
    }

    button#coloréttebutton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 68%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue";
        cursor: pointer;
        bottom: 45px;
        position: absolute;
    }

    mainbodycontent>div#info {
        width: 69%;
    }
}

@media screen and (orientation:portrait) {
    mainbodycontent>div#japanesecolorname {
        min-height: 25px;
        height: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: lr;
        text-orientation: upright;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        white-space: pre-wrap;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        margin-top: 35px;
        width: 90%;
    }

    body>mainbodycontent {
        flex-direction: column;
    }

    mainbodycontent>div#info>div#colorname {
        text-align: center;
    }

    body>mainbodycontent {
        height: calc(100% - 83px) !important;
    }

    button#coloréttebutton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue";
        cursor: pointer;
        bottom: 45px;
        position: absolute;
    }

    mainbodycontent>div#info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

button#coloréttebutton>svg#coloréttebuttonlogo>g {
    fill: var(--themeColor);
}

button#coloréttebutton>svg#coloréttebuttonlogo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 2.125px;
}