header {
    background-color: var(--themeColor) !important;
    color: var(--mainContentColor) !important;
}

header>span {
    color: inherit !important;
}

header>a>div>svg>g {
    fill: var(--mainContentColor) !important;
}

body>mainbodycontent {
    background: linear-gradient(to bottom, var(--themeColor) 0%, var(--additionalContentColor) 100%) !important;
    width: 100% !important;
    display: flex !important;
    top: 49px;
    position: absolute;
}

mainbodycontent>div#japanesecolorname {
    font-family: "Corporate Logo";
    letter-spacing: 15px;
}

mainbodycontent>div#info>div#colorname {
    color: var(--mainContentColor);
    font-size: 50px;
    font-family: 'Bebas Neue';
    margin-top: 15px;
    height: fit-content;
}

credits,
footer {
    background-color: var(--themeColor) !important;
    color: var(--mainContentColor) !important;
}

@media screen and (orientation:landscape) {
    mainbodycontent>div#japanesecolorname {
        height: 82.5%;
        min-width: 20%;
        width: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 4vh;
        padding-bottom: 4vh;
        white-space: pre-wrap;
        margin-left: 50px;
        border-radius: 25px;
        margin-top: 15px;
        margin-right: 50px;
        font-size: 4.0625vh;
        letter-spacing: 1.5vh;
    }

    body>mainbodycontent {
        flex-direction: row;
    }

    mainbodycontent>div#info>div#colorname {
        text-align: left;
    }

    body>mainbodycontent {
        height: calc(100% - 82px) !important;
    }

    button#coloréttebutton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 68%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue";
        cursor: pointer;
        bottom: calc(2.5% + (3 * 0.25vh) + 20px);
        position: absolute;
    }

    mainbodycontent>div#info {
        width: 69%;
    }

    span.spacename {
        background-color: var(--mainContentColor);
        padding: 0 20;
        font-family: 'Bebas Neue';
        font-size: 28;
        margin-right: 10px;
        display: inline-flex;
    }

    span.spacevalue {
        color: var(--mainContentColor);
        font-family: 'Bebas Neue';
        font-size: 28px;
        word-spacing: 10px;
    }

    div#colorspaces {
        line-height: 75px;
        flex-wrap: wrap;
        display: flex;
        height: 75%;
        flex-direction: column;
        justify-content: center;
    }

    span.spacename>span#note {
        font-size: 14px;
        margin-left: 10px;
    }

    div.colorspace {
        margin-bottom: 17.5;
    }
}

@media screen and (orientation:portrait) {
    mainbodycontent>div#japanesecolorname {
        height: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: lr;
        text-orientation: upright;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        white-space: pre-wrap;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        margin-top: 35px;
        width: 90%;
        font-size: 30px;
    }

    body>mainbodycontent {
        flex-direction: column;
    }

    mainbodycontent>div#info>div#colorname {
        text-align: center;
    }

    body>mainbodycontent {
        height: calc(100% - 83px) !important;
    }

    button#coloréttebutton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue";
        cursor: pointer;
        bottom: 45px;
        position: absolute;
    }

    mainbodycontent>div#info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    span.spacename {
        background-color: var(--mainContentColor);
        padding: 0 20;
        font-family: 'Bebas Neue';
        font-size: 28;
        display: flex;
        justify-content: center;
        height: 50px;
        line-height: 52.5px;
        border-radius: 25px;
    }

    span.spacevalue {
        color: var(--mainContentColor);
        font-family: 'Bebas Neue';
        font-size: 28px;
        display: flex;
        height: 50px;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        word-spacing: 10px;
    }

    div#colorspaces {
        text-align: center;
    }

    span.spacename>span#note {
        font-size: 14px;
        margin-left: 10px;
    }

    div.colorspace {
        margin-bottom: 0;
    }

    mainbodycontent>div#info>div#colorname {
        margin-top: 5px;
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio: 0.9497716895) {
    div.colorspace {
        display: flex;
        width: 100%;
        height: 75px;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: 16px
    }

    span.spacename {
        width: 50%;
        height: 100%;
        border-radius: 0;
        align-items: center;
    }

    span.spacevalue {
        width: 50%;
        height: 100%;
        border-radius: 0;
        text-align: center;
        align-items: center;
        color: var(--mainContentColor);
        background-color: var(--additionalContentColor);
    }
}

@media screen and (orientation:landscape) and (min-aspect-ratio: 2.0710059172) {
    mainbodycontent>div#japanesecolorname {
        height: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: lr;
        text-orientation: upright;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        white-space: pre-wrap;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        margin-top: 35px;
        width: 90%;
        font-size: 30px;
        padding: 1vh 0px;
    }

    body>mainbodycontent {
        flex-direction: column;
    }

    body>mainbodycontent {
        height: calc(100% - 83px) !important;
    }

    mainbodycontent>div#info>div#colorname {
        text-align: center;
        margin-bottom: 15px;
    }

    button#coloréttebutton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue";
        cursor: pointer;
        bottom: 2vh;
        position: absolute;
    }

    mainbodycontent>div#info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    div#colorspaces {
        flex-direction: row;
        justify-content: space-evenly;
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
    }

    div.colorspace {
        display: flex;
        width: fit-content;
        height: 75px;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: 16px;
        margin-right: 16px;
        height: 10vh;
    }

    span.spacename {
        width: fit-content;
        height: 100%;
        border-radius: 0;
        align-items: center;
        margin-right: 0
    }

    span.spacevalue {
        width: fit-content;
        padding: 0 25px;
        height: 100%;
        border-radius: 0;
        text-align: center;
        align-items: center;
        color: var(--mainContentColor);
        background-color: var(--additionalContentColor);
        display: inline-flex;
    }
}

button#coloréttebutton>svg#coloréttebuttonlogo>g {
    fill: var(--themeColor);
}

button#coloréttebutton>svg#coloréttebuttonlogo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 2.125px;
}