header {
    background-color: var(--themeColor) !important;
    color: var(--mainContentColor) !important;
}

header>span {
    color: inherit !important;
}

header>a>div>svg>g {
    fill: var(--mainContentColor) !important;
}

body>mainbodycontent {
    background: linear-gradient(to bottom, var(--themeColor) 0%, var(--additionalContentColor) 100%) !important;
    height: calc(100% - 50px) !important;
    width: 100% !important;
    display: block !important;
}

@media screen and (orientation:landscape) {
    mainbodycontent>div#japanesecolorname {
        height: 81.125%;
        min-width: 20%;
        width: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        white-space: pre-wrap;
        margin-left: 50px;
        border-radius: 25px;
    }
}

@media screen and (orientation:portrait) {
    mainbodycontent>div#japanesecolorname {
        min-height: 50px;
        height: fit-content;
        background-color: var(--mainContentColor);
        color: var(--themeColor);
        writing-mode: lr;
        text-orientation: upright;
        font-size: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        white-space: pre-wrap;
        margin-left: 50px;
        border-radius: 25px;
    }
}