body {
    margin:0;
}

header {
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
}

header>div#logo-image {
    aspect-ratio: 4/1;
    height: 50px;
    display: flex;
    justify-self: center;
}