@media screen and (orientation:landscape) {
    body {
        margin: 0;
    }

    header {
        background-color: #FFFFFF;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: "Bebas Neue";
    }

    header>div#logo-image {
        aspect-ratio: 4/1;
        height: 50px;
        display: block;
        justify-self: center;
        flex-wrap: wrap;
    }

    header>span#hex {
        margin-top: 15.5;
        margin-bottom: 15.5;
        margin-left: 20;
        left: 0;
        top: 0;
        position: absolute;
    }

    header>span#name {
        margin-top: 15.5;
        margin-bottom: 15.5;
        margin-right: 20;
        right: 0;
        top: 0;
        position: absolute;
    }

    footer {
        align-items: flex-end;
        width: 100%;
        bottom: 0px;
        position: fixed;
        height: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    credits {
        bottom: 0;
        position: relative;
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
    }

    input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 97.5%;
        height: 50px;
        border-radius: 30px;
        border: none;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue"
    }

    input::placeholder {
        color: inherit !important;
    }

    div#namesdescription {
        width: 97.5%;
        padding: 0;
        font-family: "Vegur";
        border: 3px solid black;
        border-radius: 15px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div#contentBoxes {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;
    }

    div#namesdesctitle {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
        text-align: center;
        border-bottom: 3px solid black;
        font-size: 16px;
    }

    div#namedesctext {
        padding: 10px;
        font-size: 12px;
    }

    div.colorbox {
        width: 17.5%;
        height: 200px;
        border: 3px solid black;
        border-radius: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    div.colorbox>span#colorname {
        font-size: 2vw;
        font-family: 'Bebas Neue';
    }

    div.colorbox>span#colorhex {
        font-size: 1.5vw;
        font-family: 'Bebas Neue';
    }
}

@media screen and (orientation:portrait) {
    body {
        margin: 0;
    }

    header {
        background-color: #FFFFFF;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-family: "Bebas Neue";
    }

    header>div#logo-image {
        aspect-ratio: 4/1;
        height: 50px;
        display: block;
        justify-self: center;
        flex-wrap: wrap;
    }

    header>span#hex {
        margin-top: 15.5;
        margin-bottom: 15.5;
        margin-left: 20;
        left: 0;
        top: 0;
        position: absolute;
    }

    header>span#name {
        margin-top: 15.5;
        margin-bottom: 15.5;
        margin-right: 20;
        right: 0;
        top: 0;
        position: absolute;
    }

    footer {
        align-items: flex-end;
        width: 102%;
        bottom: 0px;
        position: fixed;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        left: 0;
        right: 0;
    }

    credits {
        bottom: 0;
        position: relative;
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 24px;
        padding: 10px;
        text-decoration: none;
        margin: 0;
        right: 0;
    }

    input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 97.5%;
        height: 100px;
        border-radius: 60px;
        border: none;
        background-color: #0F0F0F;
        color: #F0F0F0;
        font-size: 28px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue"
    }

    input::placeholder {
        color: inherit !important;
    }

    div#namesdescription {
        width: 97.5%;
        padding: 0;
        font-family: "Vegur";
        border: 3px solid black;
        border-radius: 30px;
        overflow: hidden;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div#contentBoxes {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;
    }

    div#namesdesctitle {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
        text-align: center;
        font-size: 32px;
        border-bottom: 3px solid black;
    }

    div#namedesctext {
        padding: 10px;
    }

    div.colorbox {
        width: 17.5%;
        height: 200px;
        border: 3px solid black;
        border-radius: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    div.colorbox>span#colorname {
        font-size: 2vw;
        font-family: 'Bebas Neue';
    }

    div.colorbox>span#colorhex {
        font-size: 1.5vw;
        font-family: 'Bebas Neue';
    }
}

a {
    color: inherit;
    text-decoration: none;
}

div.colorbox#ColorNotFound {
    display: none;
}

div.colorbox>span#colorname, div.colorbox>span#colorhex {
    opacity: 0.9;
}