body {
    margin:0;
}

header {
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
}

header>div#logo-image {
    aspect-ratio: 4/1;
    height: 50px;
    display: flex;
    justify-self: center;
}

header>span#hex {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10;
    margin-right: auto;
}

header>span#name {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10;
    margin-left: auto;
}